In [11]:
import os
import numpy as np
import pandas as pd

from datetime import datetime
from utils import data_processing

In [12]:
files_path = "../Gruppi/Gruppi"
export_path = "data/2021"

df = data_processing (files_path, export_path, tdc_resolution = 1e-9)
df

   Group  TDC resolution       theta_0   theta_1
0     H1    1.000000e-09  8.005824e+06  0.812025
1     F2    1.000000e-09  8.970437e+06  0.896228
2     C1    1.000000e-09  1.269861e+06  0.824515
3     D1    1.000000e-09  7.890701e+06  0.828368
4     G1    1.000000e-09  4.807176e+05  1.127065
5     A2    1.000000e-09  7.176297e+06  0.894519
6     I2    1.000000e-09  6.263687e+06  0.801306
7     E1    1.000000e-09  4.603114e+06  1.100148
8     G2    1.000000e-09  9.625037e+06  0.862122
9     D2    1.000000e-09  8.029322e+06  1.167046
10    H2    1.000000e-09  9.509574e+06  0.932335
11    E2    1.000000e-09  6.871680e+06  1.163054
12    B1    1.000000e-09  7.804345e+06  1.127435
13    F1    1.000000e-09  4.987731e+06  1.177617
14    I1    1.000000e-09  7.256548e+06  0.840013
15    B2    1.000000e-09  8.356535e+06  0.856459
16    C2    1.000000e-09  3.941592e+06  0.916980

In [13]:
timestamp = str (datetime.now()) . split (".") [0]
timestamp = timestamp . replace (" ","_")
version = ""
for time, unit in zip ( timestamp.split(":"), ["h","m","s"] ):
  version += time + unit   # YYYY-MM-DD_HHhMMmSSs

file_name = f"manipulation_{version}"

df.to_csv ( f"data/manipulation/{file_name}.txt", header = df.columns, index = None, sep = " " )