In [1]:
import os
import numpy as np
import pandas as pd

from datetime import datetime
from utils import data_processing

In [2]:
from urllib.request import urlopen

file = urlopen(f"https://raw.githubusercontent.com/mbarbetti/unifi-physics-lab3/main/data/2021/data_A1.txt")

#list_data = list()
#for line in file:
# list_data . append (line.decode("utf-8"))

#print (len(list_data))

In [3]:
files_path = "../data/Lab3_groups_2021"
export_path = "data/2021"

df = data_processing (files_path, export_path, tdc_resolution = 1e-9)
df

   Group  TDC resolution       theta_0   theta_1
0     H1    1.000000e-09 -4.302463e-09  0.894084
1     F2    1.000000e-09 -3.884088e-09  0.818788
2     C1    1.000000e-09  5.615007e-08  1.071039
3     M2    1.000000e-09  7.055282e-09  0.966609
4     A1    1.000000e-09  9.565368e-08  1.175509
5     D1    1.000000e-09 -9.485252e-08  1.183850
6     G1    1.000000e-09 -2.617468e-08  0.867405
7     A2    1.000000e-09 -9.247325e-08  1.191295
8     I2    1.000000e-09  3.922536e-08  0.810140
9     E1    1.000000e-09 -8.552598e-08  1.015219
10    M1    1.000000e-09  1.919863e-08  1.063088
11    L2    1.000000e-09  3.305320e-08  1.026705
12    G2    1.000000e-09  3.519425e-08  1.094493
13    D2    1.000000e-09  9.489726e-08  0.822722
14    H2    1.000000e-09  7.363812e-08  0.981798
15    E2    1.000000e-09 -5.953871e-10  0.959322
16    B1    1.000000e-09  1.750108e-08  0.896367
17    F1    1.000000e-09 -2.858492e-08  1.172151
18    L1    1.000000e-09 -4.793437e-08  0.853500
19    I1    1.000000e-09  5.655717e-08  1.032958
20    B2    1.000000e-09 -8.211396e-09  0.953937
21    C2    1.000000e-09  9.149451e-08  0.810390

In [4]:
timestamp = str (datetime.now()) . split (".") [0]
timestamp = timestamp . replace (" ","_")
version = ""
for time, unit in zip ( timestamp.split(":"), ["h","m","s"] ):
  version += time + unit   # YYYY-MM-DD_HHhMMmSSs

file_name = f"manipulation_{version}"

df.to_csv ( f"data/manipulation/{file_name}.txt", header = df.columns, index = None, sep = " " )

In [5]:
data = pd.read_csv ( f"{export_path}/data_M1.txt", header = 4, delim_whitespace = True).drop([0] )
data

                TDC          QDC1          QDC2
1      8.193757e-06 -6.237501e-09 -4.093750e-09
2      9.376144e-06 -3.050000e-09 -2.968750e-09
3      9.714738e-06 -2.927083e-09 -2.935416e-09
4      5.319017e-07 -2.927083e-09 -2.941666e-09
5      3.816507e-06 -3.515625e-09 -3.368750e-09
...             ...           ...           ...
21117  6.652753e-06 -2.937500e-09 -2.929166e-09
21118  1.892251e-06 -2.985416e-09 -2.964583e-09
21119  1.740821e-06 -4.506250e-09 -4.929167e-09
21120  8.695099e-06 -3.004166e-09 -3.028125e-09
21121  1.056560e-05 -2.980208e-09 -2.952083e-09

[21121 rows x 3 columns]